/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
left: 190px;
}
.open-button1 {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
left:10px;
bottom: 23px;
}
.open-button2 {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
left: 414px;
}*/
/* Всплывающая форма-скрыта по умолчанию */
.textwork-form-popup-ds {
position: absolute;
width: 409px;
height: 190px;
left: 17px;
top: 20px;
background: #F5F5F5;
border-radius: 10px;
box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Создание крестика*/
.close {
position: absolute;
right: 0px;
top: 6px;
width: 30px;
height: 30px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 15px;
width: 2px;
background-color: #C02F2F;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
/*Блок с определением*/
.textwork-difinition{
width: 409px;
height: 95px;

/*font-family: 'Open Sans', sans-serif;
font-style: normal;
font-size: 15px;*/
}
/*Блок с синонимами*/
.textwork-synonyms{
width: 409px;
height: 95px;
}
/*Стили для Ссылки*/

.textwork-form-popup-ds a:link{
position: absolute;
  width: 77px;
  height: 11px;
  font-family: Cabin;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'ss01' on, 'salt' on;
  color: #004469;
  text-decoration: underline;
}
 .textwork-link1 a {
left: 325px;
right: 7px;
top: 80px;
  color: #004469;
}
.textwork-link2 a{
left: 325px;
right: 7px;
bottom: 10px;
}
/*.form-popup-s .link2{
position: absolute;
width: 70px;
height: 11px;
left: 72px;
bottom:5px;
font-family: Cabin;
font-style: italic;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss01' on, 'salt' on;
}*/
/*Всплывающая форма для синонимов*/
.textwork-form-popup-s{
width: 153px;
height: 91.94px;
}
/*Всплывающее окно для определений*/
.textwork-form-popup-d {
width: 293;
height: 53;
}

.textwork-form-popup-ds hr{
border: 1px solid rgba(196, 196, 196, 0.4);
margin-bottom: 20px;
}

.textwork-form-popup-ds p{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: black;
  margin: 0px;
  padding: 0px;
}

.textwork-definitionText p{
  left: 10px;
  top: 25px;
  line-height: 18px;
  overflow: hidden; /*показывает первыетри строчки*/
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}

.textwork-form-popup-ds ul {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  list-style-type: none;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
}

.textwork-form-popup-ds li {
  padding-left: 10px;
    display: block;
}

.textwork-synonyms-list {

}

 .textwork-definitionTitle p{
   width: 200px;
   height: 20px;
   left: 10px;
   top: 5px;
   font-weight: bold;
 }
  .textwork-synonymTitle p{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 10px;
    top:100px;
    font-weight: bold;
    margin-top: 5px;
  }
