@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Кнопка, используемая для открытия контактной формы-фиксируется в нижней части страницы */
.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
left: 190px;
}
.open-button1 {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
left:10px;
bottom: 23px;
}
.open-button2 {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
left: 414px;
}
/* Всплывающая форма-скрыта по умолчанию */
.form-popup-ds {
position: absolute;
width: 409px;
height: 176px;
left: 17px;
top: 20px;
background: #F5F5F5;
border-radius: 10px;
display: none;
 box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Создание крестика*/
.close {
position: absolute;
right: 0px;
top: 6px;
width: 30px;
height: 30px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 15px;
width: 2px;
background-color: #C02F2F;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
/*Блок с определением*/
.difinition{
width: 409px;
height: 105px;

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-size: 15px;
}
/*Блок с синонимами*/
.synonyms{
width: 409px;
height: 71px;
}
/*Стили для Ссылки*/
.link1 {
position: absolute;
width: 77px;
height: 11px;
left: 325px;
right: 7px;
top: 94px;
font-family: Cabin;
font-style: italic;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss01' on, 'salt' on;
color: #004469;
}
.link2{
position: absolute;
width: 77px;
height: 11px;
left: 325px;
right: 7px;
bottom: 5px;
font-family: Cabin;
font-style: italic;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss01' on, 'salt' on;
}
.form-popup-s .link2{
position: absolute;
width: 70px;
height: 11px;
left: 72px;
bottom:5px;
font-family: Cabin;
font-style: italic;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss01' on, 'salt' on;

}
/*Всплывающая форма для синонимов*/
.form-popup-s{
position: absolute;
background: #F5F5F5;
border-radius: 10px;
display: none;
width: 153px;
height: 91.94px;
}
/*Всплывающее окно для определений*/
.form-popup-d {
position: absolute;
background: #F5F5F5;
border-radius: 10px;
display: none;
width: 293;
height: 53;
}

hr{
border: 1px solid rgba(196, 196, 196, 0.4);
}

.text{
  position: absolute;
  width: 390px;
  height: 75px;
  left: 10px;
  top: 10px;
  overflow: hidden; /*показывает первыетри строчки*/
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}

 .definitioTitle {
   position: absolute;
   width: 200px;
   height: 20px;
   left: 10px;
   top: -10px;
   font-weight: bold;
 }

  .definitionSyn{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 10px;
    font-weight: bold;
  }
