/*кнопка "закрыть"*/
.close {
position: absolute;
right: 0px;
top: 6px;
width: 30px;
height: 30px;
opacity: 0.3;
}
body {
  margin: 0px!important;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 15px;
width: 2px;
background-color: red;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
/* Стилизация настроек*/
.container-Setting{
  flex-direction: column;
  display: flex;
  width: 197px;
  height: 200px;
  background: #F5F5F5;
}

.Definition, .Synonyms, .AutoWord, .AutoText, .DictionaryHints{
  display: none;
}
.Setting{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  color: rgba(255, 255, 255, 0.81);
}
.logo-In-Setting-TW{
  height: 35px;
  display: flex;
  background-color: #2D54BA;
  padding-left: 10px;
  padding-right: 10px;
}
.TextWork__extentionName {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      color: rgba(255, 255, 255, 0.81);
      margin-top: 6px;
}
.help-text-word {
      margin-left: 42px;
}
.Separation{
  margin: 6px 0px 6px 0px ;
}

img{
  height: 26px;
  width: 30px;
  margin-top: 6px;
}
/*Цвета чек-боксов*/
label{
  /*display: inline-block0;*/
  margin-bottom: 0;
  color: #000;
  cursor: default;
  font-weight: normal;
}
label:before {
 content: " ";
 color: #fff;
 display: inline-block;
 font: 10px/10px FontAwesome;
 margin-right: 15px;
 position: relative;
 text-align: center;
 text-indent: 0px;
 width: 11px;
 height: 11px;
 background: #FFF;
 border: 1px solid #3453A3;
 border-image: initial;
 vertical-align: middle;
}
input:checked + label:before {
 content: "\2714";
  background: #3453A3;
}
