
/* Всплывающая форма-скрыта по умолчанию */
.textwork-synonymWindow {
position: absolute;
width: 200px;
height: 95px;
left: 17px;
top: 20px;
background: #F5F5F5;
border-radius: 10px;
box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Создание крестика*/
.close {
position: absolute;
right: 0px;
top: 6px;
width: 30px;
height: 30px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 15px;
width: 2px;
background-color: #C02F2F;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
/*Стили для Ссылки*/

.textwork-synonymWindow a:link{
position: absolute;
  width: 77px;
  height: 11px;
  font-family: Cabin;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'ss01' on, 'salt' on;
  color: #004469;
  text-decoration: underline;
}

.textwork-link2 a{
right: 7px;
bottom: 10px;
}

.textwork-synonymWindow p{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: black;
  margin: 0px;
  padding: 0px;
}

.textwork-definitionText p{
  left: 10px;
  top: 25px;
  line-height: 18px;
  overflow: hidden; /*показывает первыетри строчки*/
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}

.textwork-synonymWindow ul {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  list-style-type: none;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
}

.textwork-synonymWindow li {
  padding-left: 10px;
    display: block;
}

.textwork-synonyms-list {

}

 .textwork-synonymTitle p{
   width: 150px;
   height: 20px;
   left: 10px;
   top: 5px;
   font-weight: bold;
 }
